/* @font-face {
	font-family: 'Helvetica Neue';
	src: url(./fonts/HelveticaNeue.otf);
}
@font-face {
	font-family: 'Helvetica Neue Bold';
	src: url(./fonts/HelveticaNeueBold.otf);
} */
@import '~antd/dist/antd.css';
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #fff;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
