.main_content {
	position: relative;
	display: flex;
}

.side_bar {
	display: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	height: 100vh;
	width: 250px;
	background-color: #0052cc;
	padding-top: 40px;

	.menus {
		.menu_item {
			display: flex;
			justify-content: flex-start;
			padding: 5px 15px;
			color: #fff;
			cursor: pointer;
			background-color: #0b66fc;

			.menu_item_text {
				margin-left: 20px;
				p {
					margin: 0;
				}
			}

			.menu_item_icon_right {
				margin-left: auto;
			}
		}
	}

	.settings {
		margin-top: 450px;
		.settings_item {
			display: flex;
			justify-content: flex-start;
			padding: 5px 15px;
			color: #fff;
			cursor: pointer;

			&:hover {
				background-color: #0b66fc;
			}

			.menu_item_text {
				margin-left: 20px;

				p {
					margin: 0;
				}
			}

			.menu_item_icon_right {
				margin-left: auto;
			}
		}
	}
}

.main_layout {
	padding: 50px 30px 30px 30px;
	width: 60%;

	.image_container {
		height: 150px;
		width: 150px;

		img {
			width: 100%;
			height: 100%;
		}
	}

	.form_container {
		.form_row {
			display: flex;
			justify-content: flex-start;
			align-items: center;

			& > span {
				width: 100%;
			}

			button {
				background: #0b66fc 0% 0% no-repeat padding-box;
				border: 1px solid #0b66fc;
				border-radius: 3px;
				padding: 3px 30px;
				font-size: 15px;
				color: white;
				text-transform: uppercase;
				margin: auto;
				margin-top: 20px;
				cursor: pointer;
			}

			.form_item {
				width: 80%;
				margin: 0 15px 20px 0;
			}
		}
	}
}
