.main_body {
	padding: 30px 45px;
	.header_title {
		font-size: 37px;
		color: #4a4646;
		font-weight: 500;
		font-family: 'Helvetica Neue Bold';
	}
	.auth_btn_container {
		display: flex;
		justify-content: flex-start;
		align-items: center;

		.auth_btn {
			padding: 10px 50px;
			border-radius: 6px;
			opacity: 1;
			cursor: pointer;
			font-size: 22px;
			font-weight: 700;
			color: white;
			min-width: 350px;
			margin-top: 50px;

			&.fb_btn {
				background: #395794 0% 0% no-repeat padding-box;
				margin-right: 100px;
				border: 0.5px solid #395794;
			}

			&.google_btn {
				background: #d74937 0% 0% no-repeat padding-box;
				border: 0.5px solid #d74937;
			}
		}
	}
}
